In [ ]:
list1=["abc",3,4]
print(len(list1))

In [ ]:
list2=[1,2,3]
list3=list1+list2
print(list3)
list2=list2*2
print(list2)

In [ ]:
print (list2[3])

In [ ]:
list2[3]="2321"
print(list2)

In [ ]:
list2[1:6]

In [ ]:
del list2[3]

In [ ]:
print(list2)

In [ ]:
print(list2[-3:])
print(list2[2:])
print(list2[:2])

In [ ]:
thislist=("apple","banana",1999,1982)
for i in range(len(thislist)):
    print(thislist[i])

In [ ]:
for x in thislist:
    print(x)

In [ ]:
i=0
while(i<len(thislist)):
    print(thislist[i])
    i=i+1
    print(i)

In [ ]:
for x in list2:
    list1.append(x)
print(list1)

In [ ]:
newlist1=[x for x in range(10)]
newlist2=[x for x in range(10) if x<5]
fruits = ["apple","banana","cherry"]
newlist3=[x.upper() for x in fruits]
print(newlist1,newlist2,newlist3)
newlist2 =['hello'for x in fruits]
newlist=[x if x!="banana" else"orange" for x in fruits]
print(newlist2,newlist)

In [ ]:
fruits = ["apple","banana","cherry"]
newlist=[x for x in fruits if "a"in x]
print(newlist)

In [ ]:
list=["marketing ","content"]
print(list)

In [ ]:
print(type(list))

In [ ]:
A={1,2,3}
B={4,5,6,3}
print(A|B)

In [ ]:
print(A&B)

In [ ]:
print(A-B)

In [ ]:
list=['python','Net']
list.append("java")
print("\n",list)
list.extend(["C","C#"])
print("\n",list)
list.insert(1,"C")
print("\n",list)
list.remove("C")
print("\n",list)
print("\n",sorted(list))
print("\n",list[::-1])

In [ ]:
tuple1=("apple","banana","cherry")
tuple2=(1,2,3,4,5)
tuple3=("a","b","c","d")
print(tuple1[1:3])

In [ ]:
if "apple"in tuple1:
    print("yes")

In [ ]:
print(tuple1[-1])

In [ ]:
for x in range (len(tuple2)):
    print(x)

In [ ]:
for x in  tuple1:
    print(x)

In [ ]:
x=("apple","banana","cherry")
y=list(x)
y[1]="kiwi"
x=tuple(y)
print(x)

In [ ]:
thistuple=("apple","banana","cherry")
y=("orrange",)
thistuple+=y
print(thistuple)

In [ ]:
y=list(thistuple)
y.remove("apple")
thistuple=tuple(y)
print(thistuple)

In [ ]:
thisset={"apple","banana","cherry"}
print(len(thisset))

In [ ]:
set={"apple","banana","cherry"}
set1={1,2,3,4,5}
set3={"true","false","True"}
print(set,set1,set3)

In [ ]:
print(type(set))

In [ ]:
print("banana"in set)

In [ ]:
for x in set:
    print(x)

In [ ]:
set.add("orange")
print(set)

In [ ]:
set.update(set1)
print(set)

In [ ]:
x=set1.pop()
print(x)
print(set1)

In [ ]:
set1.clear()
print(set1)

In [ ]:
del set
print(set)

In [ ]:
def compare_to_five(y):
    if(y>5):
        return "greater"
    elif(y<0):
        return "negative"
    elif (y<5):
        return "less"
    else :
        return "equal"

In [ ]:
compare_to_five(-1)

In [ ]:
compare_to_five(-1)

In [ ]:
compare_to_five(7)

In [ ]:
x=35e5
y=12E3
print(type(x))
print(type(y))

In [ ]:
x=3+4j
y=5-8j
print(type(x))
print(type(y))

In [ ]:
x=1
y=2.8
z=1j
a=float(x)
b=int(y)
c=complex(x)
print(a)
print(b)
print(c)
print(type(a))
print(type(b))
print(type(c))

In [ ]:
print(bool("hello"))

In [ ]:
x=int(1)
y=float(2.3)
z=int("3")
print(x,y,z)

In [ ]:
a=200
b=33
if a>b:
    print("b")
else:
    print("a")

In [ ]:
print(isinstance(a,int))

In [ ]:
print(bool(a))

In [ ]:
y="adad"
print(bool(y))

In [ ]:
bool(False)
bool(None)
bool(0)
bool("")
bool([])
bool(())
bool([])
bool({})

In [ ]:
def myfunc():
    return True

print(myfunc())

In [ ]:
if(myfunc()):
    print("YeS")
else:
    print("No")

In [ ]:
def change(mylist):
    mylist.append([1,2,3,4])
    print(mylist)
    return

mylist=[10,20,30]
change(mylist)
print(mylist)

In [ ]:
def change(mylist):
    mylist=[1,2,3,4]
    print(mylist)
    return
mylist=[10,20,30]
change(mylist)
print(mylist)

In [ ]:
def fn(str):
    print(str)
    return
fn(4)

In [ ]:
def fn(mylist):
    print(mylist)
    return
fn(mylist="str")

In [ ]:
def fn(age,name):
    print(age, name)
    return
fn(age=14,name="ritik")

In [ ]:
def fn(name,age=14):
    print(age, name)
    return
fn(name="ritik")

In [ ]:
def fn(age,*varia):
    print("output")
    print(age)
    for var in varia:
        print("hi")
        print (var)
fn(10)
fn(10,20,30)

In [ ]:
sum=lambda arg1,arg2:arg1+arg2
print(sum(10,20))
print(sum(30,40))

In [ ]:
x=lambda a:a/10
print(x(5))
x=lambda a,b:a*b
print(x(5,6))
x=lambda a,b,c:a+b/c
print(x(5,6,8))

In [ ]:
def myfunc(n):
    return lambda a:a*n
mydoubler=myfunc(2)
print(myfunc(2))
print(mydoubler(11))

In [ ]:
def myfunc(n):
    return lambda a:a*n
mytriple=myfunc(3)
print(mytriple(10))

In [ ]:
car={
    "brand":"Ford",
    "model":"mustang",
    "year": 1964 
}
x=car.values()
print(x)
car["year"]=2020
print(x)

In [ ]:
car={
    "brand":"Ford",
    "model":"mustang",
    "year": 1964,
    "color":["red","white","blue"]
}
car

In [ ]:
print(car)

In [ ]:
print(car["year"])

In [ ]:
car={
    "brand":"Ford",
    "model":"mustang",
    "year": 1964,
}

x=car.keys()
print(x)
car["color"]="white"
print(x)

In [ ]:
dic={}
dict1={1:'apple',2:'ball'}
dict2={'name':'john',1:[2,3,4]}
dict3=dict({1:"apple",2:"ball"})
dict4=dict([(1,'apple'),(2,'ball')])
print(dict1,dict2,dict3,dict4)

In [ ]:
my_dict={"name":"jack",'age':26}
print(my_dict['name'])
print(my_dict.get('age'))
print(my_dict.get('address'))
#print(my_dict[address])

In [1]:
marks={}.fromkeys(['Maths','English','Science'])
print(marks)
for item in marks.items():
            print(item)
print(list(sorted(marks.keys())))

{'Maths': None, 'English': None, 'Science': None}
('Maths', None)
('English', None)
('Science', None)
['English', 'Maths', 'Science']

In [4]:
my_info={'name':'diz','age':23,'location':'athwns'}
city=my_info.pop('location')
print(my_info)
print(city)

{'name': 'diz', 'age': 23}
athwns

In [9]:
dic={
    "child1":{
        "name":"emil",
        "year":2004
    },
     "child2":{
        "name":"tob",
        "year":2009
    },
     "child3":{
        "name":"lin",
        "year":2011
    }
    
}
print(dic)

{'child1': {'name': 'emil', 'year': 2004}, 'child2': {'name': 'tob', 'year': 2009}, 'child3': {'name': 'lin', 'year': 2011}}

In [10]:
str_1="hello world"
str_1

'hello world'

In [3]:
str_2="hello "+"world"
str_2

'hello world'

In [4]:
str_1*3

'hellohellohello'

In [40]:
str_4="1 2 3 4 5"
str_5=" "
str_5.split(" ")
str_4.split("  ")

['1 2 3 4 5']

In [43]:
str5="1,2,3,4,5"
str5.split("   ")

['1,2,3,4,5']

In [11]:
str_1.replace("python","world")

'hello world'

In [12]:
str_1.upper()

'HELLO WORLD'

In [13]:
str_1.rstrip()

'hello world'

In [15]:
txt="sandkjandw  dv free"
print("free"in txt)

True

In [17]:
txt="expensive is present"
if "expensive" not in txt:
    print("No")
else :
    print("yes")

yes

In [19]:
b="Hello world!"
print(b[2:5])
b1="hello, World!"
print(b1[:5])
print(b1[2:])
print(b1[-5:-2])

llo
hello
llo, World!
orl

In [20]:
b.upper()

'HELLO WORLD!'

In [22]:
age=35
txt="hello "+str(age)
print(txt)

hello 35

In [26]:
quality=37
item=567
price=49.49
myorder="i want {} peice of item {} for {} doller"
print(myorder.format(quality,item,price))

i want 37 peice of item 567 for 49.49 doller

In [27]:
age=45
name=str(age)
my="wrw {}"
print(my.format(name))

wrw 45

In [29]:
quality=37
item=567
price=49.49
myorder="i want {2} peice of item {0} or {1}doller"
print(myorder.format(quality,item,price))

i want 49.49 peice of item 37 or 567doller

In [32]:
list1=(1,2,3,4)
list2=(5,7,8,9)
list3=list1
list1=list2
list2=list3
print(list1,list2)

(5, 7, 8, 9) (1, 2, 3, 4)

In [35]:
a,b,c=10,20,30
def myfunc():
    a,b=9,231
    print(a,b,c)
    def fun():
        a=102
        print(a,b,c)
    fun()
myfunc()

9 231 30
102 231 30

In [1]:
class infant :
    def walk(self):
        print("started")
child=infant()
child.walk()

started

In [4]:
class mom():
        def walk(self):
            print("walk-mom")
            print(id(self))
class infant(mom):
    pass
child=infant()
child.walk()
print(id(child))

walk-mom
2225600151216
2225600151216

In [10]:
class mom():
        def walk(self):
            print("walk-mom")
            print(id(self))
mother=mom()
print(type(mom.walk))
print(type(mother.walk))

<class 'function'>
<class 'method'>

In [11]:
gvar=10
class walk():
    lvar=110
    print("global",gvar,"local",lvar)

mother=mom ()
print("global",gvar)

global 10 local 110
global 10

In [12]:
class Mom():
    "this is __doc__"
    lvar=100
'print(Mom.__dict__)
print(Mom.__doc__)

{'__module__': '__main__', '__doc__': 'this is __doc__', 'lvar': 100, '__dict__': <attribute '__dict__' of 'Mom' objects>, '__weakref__': <attribute '__weakref__' of 'Mom' objects>}
this is __doc__

In [16]:
class Example():
    def __init__(self):
        self.__private="i am private"
        self._protected="i am protected"
        self.public=" i am public"
ob=Example()
print(ob.public)
print(ob._protected)
#print(ob.__private)

 i am public
i am protected

In [17]:
class example():
    def __init__(self):
        print("object cons")
    def __del__(self):
        print("object des")
obj=example()
del(obj)

object cons
object des

In [37]:
class Date:
    def __init__(self,day,month,year):
        self.year=year
        self.month=month
        self.day=day
        
    @classmethod
    def myd(cls,month,year,day):
        cls.day=day
        cls.month=month
        cls.year=year
        return cls(cls.month,cls.day,cls.year)

    @classmethod
    def ydm(cls,year,day,month):
        cls.day=day
        cls.month=month
        cls.year=year
        return cls(cls.month,cls.day,cls.year)
    
d1=Date(17,4,2019)
print(d1.year,d1.month,d1.day)
d2=Date.myd(4,2018,16)
print(d2.year,d2.month,d2.day)
d3=Date.ydm(2010,11,5)
print(d3.year,d3.month,d3.day)
print(d1.year)
print(d2.year)
print(d3.year)

2019 4 17
2018 16 4
2010 11 5
2019
2018
2010